<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4 text-center">About This Project</h1>
  <div class="bg-white shadow-md rounded-lg p-6">
    <p class="text-lg mb-4">This project was created by <strong>Jeremy Martens</strong>.</p>
    <p class="text-lg mb-4">It uses OpenAI to generate excuses.</p>
    <p class="text-lg mb-4">The backend is built with FastAPI, and the frontend is built with Angular and TailwindCSS.</p>
    <p class="text-lg mb-4">The project is hosted on <a href="https://render.com" class="text-blue-500 hover:underline" target="_blank">Render.com</a>.</p>
    <div class="mt-4">
      <h2 class="text-2xl font-semibold mb-2">Repositories</h2>
      <ul class="list-disc list-inside">
        <li>
          <a href="https://github.com/jdmartens/excuse_generator_angular" class="text-blue-500 hover:underline" target="_blank">Frontend Repository</a>
        </li>
        <li>
          <a href="https://github.com/jdmartens/excuse_generator_api" class="text-blue-500 hover:underline" target="_blank">Backend API Repository</a>
        </li>
      </ul>
    </div>
  </div>
</div>