
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-white font-bold">Excuse Generator</a>
    <button class="text-white sm:hidden" (click)="toggleMenu()">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    <div class="hidden sm:flex text-white space-x-4">
      <a routerLink="/settings" class="hover:underline mr-4">Settings</a>
      <a routerLink="/advanced-excuse" class="hover:underline mr-4">Advanced</a>
      <a routerLink="/about" class="hover:underline">About</a>
    </div>
  </div>
  <div [ngClass]="{'block': menuOpen, 'hidden': !menuOpen}" class="sm:hidden text-white space-y-2 mt-2">
    <a routerLink="/settings" class="block hover:underline">Settings</a>
    <a routerLink="/advanced-excuse" class="block hover:underline">Advanced</a>
    <a routerLink="/about" class="block hover:underline">About</a>
  </div>
</nav>

<router-outlet />
